---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Box from "../../components/Box.astro";

const posts = await getCollection("ramblings");
const title = "A list of all my rambling posts 👵🎺";

---

<BaseLayout title='Friends' desc='A list of cool people 😎'>
    <div class='
            grid
            xl:grid-cols-3
            md:grid-cols-2
            4k:grid-cols-4
            grid-cols-1
            grid-flow-row-dense
            gap-4
            lg:py-8
            content-start
            justify-between
            sm:overflow-y-scroll
            h-full
            items-center
            pr-4
            scrollbar-thin
            scrollbar-track-base-background-color
            scrollbar-thumb-box-color-standard
          '>    
    {
        posts.map(post => {
            return (
                <a 
                    id={post.id}
                    href={`#${post.slug}`}
                    class='max-w-full grow'>
                    <a href={`/ramblings/${post.slug}/`}>
                    <Box
                        title={`${post.data.title}`}
                        className={`text-center h-full`}
                    >
                        <div class='p-1 gap-2 flex justify-center flex-col items-center'>
                            <div class='pt-2 text-center text-ellipsis'>
                                {post.data.description}
                            </div>
                            <div class="text-sm text-base-text-color/60">
                                [Click to visit]    
                            </div>
                        </div>
                    </Box>
                </a>
                </a>
            )
        })
    }
</BaseLayout>