---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import BaseLayout from './BaseLayout.astro';
import Box from '../components/Box.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage, legacy, audioSource } = Astro.props;

---

<BaseLayout audioSource={audioSource} title={title} desc={description}>
	<div class="h-full w-full flex flex-col items-center">
	<Box title={title} className='w-full md:w-fit'>
		<article>
			<div class="flex flex-row justify-between">
				{
					description && (
						<div class="description text-base-text-color/80 font-medium text-lg">
							<p>{description}</p>
						</div>
					)
				}
				<div class="date text-base-text-color/60">
					<FormattedDate date={pubDate} />
					{
						updatedDate && (
							<div class="last-updated-on">
								Last updated on <FormattedDate date={updatedDate} />
							</div>
						)
					}
				</div>
			</div>

			<div class="hero-image">
				{heroImage && <img class="max-h-[350px] w-auto text-center" src={heroImage} alt="" />}
			</div>

			<br />
			<hr />
			<br />

			{
				legacy && (
					<div class="legacy-warning">
						<h1 class='text-slate-500 text-xl font-bold'>
							This is a legacy blog post from a long time ago.<br/>
							It might contain outdated or incorrect information.
						</h1>
						<br/>
					</div>
				)
			}

			<div class="prose">
				<div class="
				prose-zinc
                prose-lg
                prose-a:text-base-text-color
                prose-headings:text-base-text-color
                prose-headings:font-headerf
                font-medium
                text-base-text-color
                font-bodyf
                leading-snug
                prose-img:max-h-96
                prose-img:w-auto
                prose-img:text-center
                prose-blockquote:bg-base-text-color/10
                prose-a:text-base-text-color/90
				prose-strong:text-base-text-color
                prose-a:underline
				prose-code:bg-base-text-color/10
				prose-code:text-base-text-color
				">
					<slot />
				</div>
			</div>
		</article>
	</Box>
</div>
</BaseLayout>
